@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --black: #000;

  --white: #ffff;
  --white-50: #fafafa;

  --primary: #C58940;
}

body {
  background: var(--white-50);

  button {
    cursor: pointer;
  }
}